<div id="booking">
    <div class="booking-container">
        <div class="booking-image">
            <img src="../../images/band.jpg" alt="band">
        </div>
        <div class="booking-content">
            <h2>Your One Stop Entertainment Booking Services</h2>
            <p>Check out our incredible selection of Australian cover bands and musicians for hire or laugh out loud with Australia's top rated female stand up comedians. Corporate entertainment is a specialty and our services and acoustic bands including city's party band #legends are and motivational conference speakers in Australia. We also have great range of exciting entertainers including wedding DJs, corporate DJs, MCs and party bands and much much more. Book online now!</p>
            <p class="highlight">The greatest and largest range of party acts, artists, speakers and services in Australia.</p>
            <button class="booking-btn">Book Now</button>
        </div>
    </div>
</div>