<div class="user-types-section">
    <div class="card">
        <div class="icon-wrapper">
            <img src="../../images/guitar.png" alt="Entertainer Icon">
        </div>
        <h2>Entertainer/Speaker</h2>
        <a href="#register">
            <button class="register-btn">Register</button>
        </a>
    </div>

    <div class="card">
        <div class="icon-wrapper">
            <img src="../../images/audience.png" alt="Audience Icon">
        </div>
        <h2>Audience - Customer</h2>
        <a href="#register">
            <button class="register-btn">Register</button>
        </a>
    </div>

    <div class="card">
        <div class="icon-wrapper">
            <img src="../../images/admin.png" alt="Admin Icon">
        </div>
        <h2>Admin</h2>
        <a href="#register">
            <button class="login-btn">Log in</button>
        </a>
    </div>
</div>