<div class="user-types-section">
    <div class="card">
        <div class="icon-wrapper">
            <img src="../../images/guitar.png" alt="Entertainer Icon">
        </div>
        <h2>Entertainer/Speaker</h2>
        <a href="/signup.html">
            <button class="register-btn">Register</button>
        </a>
    </div>

    <div class="card">
        <div class="icon-wrapper">
            <img src="../../images/audience.png" alt="Audience Icon">
        </div>
        <h2>Audience - Customer</h2>
        <a href="/signup.html">
            <button class="register-btn">Register</button>
        </a>
    </div>

</div>