<footer class="main-footer">
    <div class="footer-content">
        <div class="site-links">
            <h3>SITE LINKS</h3>
            <div class="links-grid">
                <div class="links-column">
                    <a href="#entertainers">Entertainers</a>
                    <a href="#bands">Bands</a>
                    <a href="#celebrities">Celebrities</a>
                </div>
                <div class="links-column">
                    <a href="#speakers">Speakers</a>
                    <a href="#blogs">Blogs</a>
                    <a href="#about-us">About Us</a>
                </div>
                <div class="links-column">
                    <a href="#terms">Terms & Conditions</a>
                    <a href="#privacy">Privacy Policy</a>
                </div>
            </div>
        </div>
        
        <div class="social-links">
            <a href="#youtube" class="social-icon" aria-label="YouTube">
                <img src="../../images/yt.png" alt="YouTube Icon">
            </a>
            <a href="#facebook" class="social-icon" aria-label="Facebook">
                <img src="../../images/fb.png" alt="Facebook Icon">
            </a>
            <a href="#google" class="social-icon" aria-label="Google">
                <img src="../../images/google.png" alt="Google Icon">
            </a>
        </div>

        <div class="mailing-list">
            <button class="mailing-list-btn">Join Our Mailing List</button>
        </div>
    </div>
    
    <div class="copyright">
        <p>Copyright © Vocals Pty Ltd. All rights reserved. Entertainment Booking Service</p>
    </div>
</footer>